# Database
DATABASE_URL=postgresql://postgres:password@localhost/health_platform
# Para PostgreSQL: postgresql://user:password@localhost/health_platform

# Security
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# App
DEBUG=True